html {
    text-align: center;
    max-width: 800px;
    margin: 15px;
    padding: 15px;
}

form {
    height: 100px;
    width: 800px;
}

/* inputs acts kinda weird */
input:focus {
    padding: 2px;
    border-color: pink;
}

input:valid {
    padding: 2px;
    border-color: lightgreen;
}

input:invalid {
    padding: 2px;
    border-color: orange;
}

/* switch */
input[type=checkbox]{

	visibility: hidden;
}

.switch {
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch:active:after {
	width: 130px;
}

/* end switch */

table {
    width: 100%;
}

table,
td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

a {
    text-decoration: none;
}
