html {
    text-align: center;
    max-width: 800px;
    margin: 15px;
    padding: 15px;
}

form {
    height: 100px;
    width: 800px;
}

/* doesn't work? - add focus state effect for form fields */
input:focus {
    padding: 2px;
    border-color: pink;
}

input:invalid {
    padding: 2px;
    border-color: orange;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */

table {
    width: 100%;
}

table,
td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

